---
import Layout from "@/layouts/Layout.astro"
import Img from "@/components/Img.astro"
import Hero from "@/components/Hero.astro"
import KitPrensa from "@/components/pages/info/KitPrensa.astro"
import "@/assets/styles/info.css";

const { i18n } = Astro.locals;
---

<Layout title={i18n.SEO.INFO_TITLE} description={i18n.SEO.INFO_DESCRIPTION}>
  <Hero img="info/background.webp">
    <h1
      class="lg:text-6xl text-5xl text-center uppercase font-tomaso tracking tracking-widest"
    >
      {i18n.INFO_TITLE}
    </h1>
  </Hero>
  <main class="pb-24">
    <section
      class="w-full max-w-[1400px] mx-auto my-24 gap-10 text-pretty px-6 text-left text-xl sm:px-20 flex flex-col md:flex-row items-center justify-between p-6 md:p-8"
    >
      <div id="theater-text" class="md:w-1/2 space-y-4">
        <h1
          class="mx-auto mb-10 text-balance text-left text-3xl lg:text-5xl font-semibold tracking-wide"
        >
          {i18n.INFO_TITLE_1}
        </h1>
        <p>{i18n.INFO_CONTENT_1_1}</p>
        <p>{i18n.INFO_CONTENT_1_2}</p>
      </div>
      <div id="theater" class="mt-6 md:mt-0 md:w-1/2">
        <Img
          class="object-cover w-full h-full rounded-md"
          height={500}
          src="info/theater.webp"
          style={{
            aspectRatio: "812/556",
            objectFit: "cover",
          }}
          width={500}
        />
      </div>
    </section>

    <section
      class="w-full max-w-[1400px] mx-auto my-24 gap-10 text-pretty px-6 text-left text-xl sm:px-20 flex flex-col md:flex-row items-center justify-between p-6 md:p-8"
    >
      <div id="trophies" class="mt-6 md:mt-0 md:w-1/2">
        <Img
          class="object-cover w-full h-full rounded-md"
          height={556}
          src="info/trophies.webp"
          style={{
            aspectRatio: "812/556",
            objectFit: "cover",
          }}
          width={812}
        />
      </div>
      <div id="trophies-text" class="md:w-1/2 space-y-4">
        <h1
          class="mx-auto mb-10 text-balance text-left text-3xl lg:text-5xl font-semibold tracking-wide"
        >
          {i18n.INFO_TITLE_2}
        </h1>
        <p set:html={i18n.INFO_CONTENT_2_1} />
        <p set:html={i18n.INFO_CONTENT_2_2} />
      </div>
    </section>
    <KitPrensa title={i18n.MEDIA_KIT_TITLE} kits={[
      {
        title: i18n.MEDIA_KIT_SUBTITLE_1,
        image: "/info/logo-y-trofeo.webp",
        link: "https://premiosesland.com/ESLAND_MEDIA_KIT_2022.rar",
        button: i18n.DOWNLOAD_BUTTON
      },
      {
        title: i18n.MEDIA_KIT_SUBTITLE_2,
        image: "/info/fondos-de-pantalla.webp",
        link: "https://premiosesland.com/ESLAND_FONDOS.zip",
        button: i18n.DOWNLOAD_BUTTON
      },
      {
        title: i18n.MEDIA_KIT_SUBTITLE_3,
        image: "/info/nota-de-prensa.webp",
        link: "https://premiosesland.com/Nota%20Prensa-ESLAND.pdf",
        button: i18n.DOWNLOAD_BUTTON
      }
    ]} />
  </main>
</Layout>
