---
import Layout from "@/layouts/Layout.astro"
import Hero from "@/components/Hero.astro"
import Button from "@/components/Button.astro"
import Palmares from "./Palmares.astro"
import Numeros from "./Numeros.astro"
import Galeria from "./Galeria.astro"

const { i18n } = Astro.locals;
const edicion = "2"
---

<Layout
  title={i18n.SEO.ARCHIVO_TITLE}
  description={i18n.SEO.ARCHIVO_DESCRIPTION}
>
  <Hero img="archivo/background.png">
    <h1
      class="lg:text-6xl text-4xl text-center uppercase mb-20 font-tomaso tracking-widest"
    >
      {i18n.ARCHIVO.HERO_TITLE}
    </h1>

    <Button
      class="animate-fade-up uppercase"
      url="https://www.youtube.com/watch?v=1YmpPrqKP-g"
    >
      {i18n.ARCHIVO.HERO_BUTTON}
    </Button>
  </Hero>

  <main class="pb-24">
    <Palmares edicion={edicion} />
    <Galeria i18n={i18n} edicion="1" />
    <Numeros i18n={i18n} />
  </main>
</Layout>
