---
import Layout from "@/layouts/Layout.astro"

import HeroContainer from "@/components/HeroContainer.astro"
import Button from "@/components/Button.tsx"

import { getI18N } from "@/i18n"
import Editions from "../Editions"

const edicion = "2"
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<Layout
  title=`${i18n.SEO.ARCHIVO_TITLE}&nbsp;${new Date().getFullYear()}`
  description={i18n.SEO.ARCHIVO_DESCRIPTION}
>
  <HeroContainer img="/archivo-background.webp">
    <h1
      class="lg:text-6xl text-4xl text-center uppercase mb-20 font-tomaso tracking-widest"
    >
      {i18n.ARCHIVO.HERO_TITLE}
    </h1>

    <Button
      className="animate-fade-up uppercase"
      url="https://www.youtube.com/watch?v=1YmpPrqKP-g"
    >
      {i18n.ARCHIVO.HERO_BUTTON}
    </Button>
  </HeroContainer>

  <main class="pb-24">
    <Editions i18n={i18n} client:load/>
  </main>
</Layout>
