---
import Layout from "@/layouts/Layout.astro"

import HeroContainer from "@/components/HeroContainer.astro"
import InfoKitPrensa from "@/components/InfoKitPrensa.astro"

import { getI18N } from "@/i18n"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<Layout title=`${i18n.SEO.INFO_TITLE}&nbsp;${new Date().getFullYear()}` description=`${i18n.SEO.INFO_DESCRIPTION_1}&nbsp;${new Date().getFullYear()}&nbsp;${i18n.SEO.INFO_DESCRIPTION_2}`>
  <HeroContainer img="/info-background.webp">
    <h1
      class="lg:text-6xl text-5xl text-center uppercase font-tomaso tracking tracking-widest"
    >
      {i18n.INFO_TITLE}
    </h1>
  </HeroContainer>
  <main class="pb-24">
    <section
      class="w-full max-w-[1400px] mx-auto my-24 gap-10 text-pretty px-6 text-left text-xl sm:px-20 flex flex-col md:flex-row items-center justify-between p-6 md:p-8"
    >
      <div id="theater-text" class="md:w-1/2 space-y-4">
        <h1
          class="mx-auto mb-10 text-balance text-left text-3xl lg:text-5xl font-semibold tracking-wide"
        >
          {i18n.INFO_TITLE_1}
        </h1>
        <p>{i18n.INFO_CONTENT_1_1}</p>
        <p>{i18n.INFO_CONTENT_1_2}</p>
      </div>
      <div id="theater" class="mt-6 md:mt-0 md:w-1/2">
        <img
          class="object-cover w-full h-full rounded-md"
          height={500}
          src="/theater.webp"
          style={{
            aspectRatio: "812/556",
            objectFit: "cover",
          }}
          width={500}
        />
      </div>
    </section>

    <section
      class="w-full max-w-[1400px] mx-auto my-24 gap-10 text-pretty px-6 text-left text-xl sm:px-20 flex flex-col md:flex-row items-center justify-between p-6 md:p-8"
    >
      <div id="trophies" class="mt-6 md:mt-0 md:w-1/2">
        <img
          class="object-cover w-full h-full rounded-md"
          height={556}
          src="/trophies.webp"
          style={{
            aspectRatio: "812/556",
            objectFit: "cover",
          }}
          width={812}
        />
      </div>
      <div id="trophies-text" class="md:w-1/2 space-y-4">
        <h1
          class="mx-auto mb-10 text-balance text-left text-3xl lg:text-5xl font-semibold tracking-wide"
        >
          {i18n.INFO_TITLE_2}
        </h1>
        <p set:html={i18n.INFO_CONTENT_2_1} />
        <p set:html={i18n.INFO_CONTENT_2_2} />
      </div>
    </section>
    <InfoKitPrensa />
  </main>
</Layout>

<style>
  #theater,
  #trophies-text h1,
  #trophies-text p {
    animation: cover-animation linear both;
    animation-timeline: view();
  }
  #theater-text h1,
  #theater-text p,
  #trophies {
    animation: entry-animation linear both;
    animation-timeline: view();
  }
  #theater {
    animation-range: entry 10% cover 40%;
  }
  #theater-text h1 {
    animation-range: entry 10% cover 30%;
  }
  #theater-text p {
    animation-range: entry 10% cover 20%;
  }
  #trophies {
    animation-range: entry 30% cover 50%;
  }
  #trophies-text h1 {
    animation-range: entry 30% cover 40%;
  }
  #trophies-text p {
    animation-range: entry 20% cover 30%;
  }
  @keyframes entry-animation {
    0% {
      opacity: 0;
      translate: var(--entry-animation) 0;
    }
    100% {
      opacity: 1;
      translate: 0 0;
    }
  }
  @keyframes cover-animation {
    0% {
      opacity: 0;
      translate: var(--cover-animation) 0;
    }
    100% {
      opacity: 1;
      translate: 0 0;
    }
  }
</style>
