---
import Layout from "@/layouts/Layout.astro"
import SortVoteIcon from "@/components/icons/SortVote.astro"
import CheckPencilIcon from "@/components/icons/CheckPencil.astro"
import PodiumIcon from "@/components/icons/Podium.astro"
import TapButtonIcon from "@/components/icons/TapButton.astro"
import ShareIcon from "@/components/icons/Share.astro"
import ThinkBrainIcon from "@/components/icons/ThinkBrain.astro"
import { VoteSystem } from "@/components/VoteSystem.tsx"
import { getI18N } from "@/i18n"

import Button from "@/components/Button.tsx"
import { getSession } from "auth-astro/server"
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale })

const session = await getSession(Astro.request)

const bkg = session ? "vote-system-bkg.webp" : "vota-bkg.webp"
---

<Layout title=`${i18n.SEO.VOTE_TITLE}&nbsp;${new Date().getFullYear()}` description={i18n.SEO.VOTE_DESCRIPTION}>
  <section
    class="bg-no-repeat bg-cover relative pb-24 min-h-screen w-full max-w-[100vw]"
  >
    <img
      class="absolute h-full w-full animate-fade object-cover object-center animate-duration-1000 animate-ease-in-out -z-10"
      src={`/${bkg}`}
      alt="ESLAND cover"
    />

    {
      !session && (
        <div class="mx-auto flex flex-col max-w-7xl px-6 pt-40">
          <h1 class="uppercase mb-10 text-left text-3xl lg:text-5xl font-bold tracking-wider leading-loose max-w-xl text-balance">
            {i18n.VOTE.TITLE}
          </h1>

          <div class="mb-10">
            <Button id="vote-button" url="#">
              {i18n.VOTE.CALL_TO_VOTE}
            </Button>
          </div>
          <p
            set:html={i18n.VOTE.INTRO_CONTENT}
            class="max-w-3xl text-pretty text-2xl px-2 mb-10"
          />

          <ul class="flex flex-col gap-y-10 text-2xl pl-4 font-extralight">
            <li class="flex gap-x-6 items-center">
              <SortVoteIcon />
              <span set:html={i18n.VOTE.ADVICE_1} />
            </li>

            <li class="flex gap-x-6 items-center">
              <CheckPencilIcon />
              <span set:html={i18n.VOTE.ADVICE_2} />
            </li>

            <li class="flex gap-x-6 items-center">
              <PodiumIcon />
              <span set:html={i18n.VOTE.ADVICE_3} />
            </li>

            <li class="flex gap-x-6 items-center">
              <>
                <TapButtonIcon />
                <span set:html={i18n.VOTE.ADVICE_4} />
              </>
            </li>

            <li class="flex gap-x-6 items-center">
              <>
                <ShareIcon />
                <span set:html={i18n.VOTE.ADVICE_5} />
              </>
            </li>

            <li class="flex gap-x-6 items-center">
              <ThinkBrainIcon />
              <span set:html={i18n.VOTE.ADVICE_6} />
            </li>
            <span class="opacity-85 text-base mt-4">
              {i18n.VOTE.TIME_LIMIT}
            </span>
          </ul>
        </div>
      )
    }

    {
      session && (
        <div class="mx-auto flex flex-col max-w-7xl pt-20 relative">
          <VoteSystem client:load currentLocale={currentLocale}>
            <div class="flex items-center gap-4">
              <img
                class="w-12 h-12 rounded-full"
                src={session.user?.image}
                alt=""
              />
              <div class="text-yellow-300">
                <h4 class="font-bold text-xl">{session.user?.name}</h4>
                <button
                  id="logout-button"
                  class="text-sm hover:border-white border-b font-light border-transparent text-white flex justify-center items-center gap-x-2"
                >
                  <span>{i18n.LOG_OUT}</span>
                </button>
              </div>
            </div>
          </VoteSystem>
        </div>
      )
    }
  </section>
</Layout>

<script>
  const { signIn, signOut } = await import("auth-astro/client")
  // pongo un $ delante para que se vea que es un elemento del DOM
  // es una cosa que se hacía en el pasado con jQuery y es una manía
  // que se me ha quedado porque me gusta :)
  const $loginButton = document.querySelector("#vote-button")
  const $logoutButton = document.querySelector("#logout-button")

  $loginButton?.addEventListener("click", async (event) => {
    event.preventDefault()
    await signIn("twitch")
  })

  $logoutButton?.addEventListener("click", async (event) => {
    event.preventDefault()
    await signOut()
  })
</script>

<style>
  p {
    text-shadow:
      0 0 5px rgba(0, 0, 0, 0.3),
      0 0 10px rgba(0, 0, 0, 0.7);
  }
</style>
