---
import "photoswipe/style.css"
import editionsInfo from "@/data/meta-gallery.json"

const { edicion } = Astro.props
const edictionIndex = Number(edicion) - 1
const photos = editionsInfo[edictionIndex]
---

<masonry-layout
  gap="24"
  maxcolwidth="500"
  class="max-w-7xl lg:mx-auto mx-4 py-20"
  id="gallery"
>
  {
    photos.map(({ height, width }, i) => (
      <a
        class="group rounded-xl hover:scale-105 hover:contrast-[110%] transition-all relative"
        href={`/archivo-page/${edicion}/gallery/img-${i + 1}.webp`}
        target="_blank"
        data-cropped="true"
        data-pswp-width={width}
        data-pswp-height={height}
      >
        <img
          class="rounded-xl object-cover w-full h-auto"
          loading="lazy"
          src={`/archivo-page/${edicion}/gallery/thumbnails/img-${i + 1}.webp`}
          alt="Fotografía de los premios ESLAND"
        />
        <img
          class="blur-md opacity-0 group-hover:opacity-100 absolute inset-0 transition contrast-150 -z-10 object-cover"
          loading="lazy"
          src={`/archivo-page/${edicion}/gallery/thumbnails/img-${i + 1}.webp`}
          alt="Imagen con efecto blur para hacer de sombra de una fotografía de los premios ESLAND"
        />
      </a>
    ))
  }
</masonry-layout>

<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox"
  import "@appnest/masonry-layout"

  document.addEventListener("astro:page-load", () => {
    const lightbox = new PhotoSwipeLightbox({
      gallery: "#gallery",
      children: "a",
      pswpModule: () => import("photoswipe"),
    })

    lightbox.init()
  })
</script>

<style is:global>
  .pswp {
    --pswp-bg: #00012a;
  }
</style>
