---
import Logo from "./Logo.astro"
import { getI18N } from "../i18n/"
import Button from "./Button.astro"
import LanguageSelector from "./LanguageSelector.astro"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<header id="header-nav" class="fixed top-0 z-50 w-full px-6 py-2">
  <div class="mx-auto flex max-w-7xl items-center justify-between">
    <div class="flex flex-grow basis-0 z-50">
      <a href="/" class="group relative">
        <Logo
          class="h-auto w-10 blur-sm absolute inset-0 m-auto opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        />
        <Logo class="h-auto w-10" />
      </a>
    </div>

    <!-- Menú de navegación para pantallas grandes -->
    <nav
      class="hidden md:flex flex-grow lg:basis-0 w-full gap-x-8 text-lg md:justify-center font-medium items-center"
    >
      <a class="text__glowing" href="/vota">{i18n.HEADER_VOTE}</a>
      <a class="text__glowing" href="/info">{i18n.HEADER_INFO}</a>
      <a class="text__glowing" href="/archivo">{i18n.HEADER_ARCHIVE}</a>
      <LanguageSelector />
    </nav>

    <!-- Botón de menú para pantallas pequeñas -->
    <button
      id="menu-toggle"
      class="flex flex-grow basis-0 justify-end text-2xl md:hidden z-50"
    >
      <span id="menu-icon">☰</span>
    </button>

    <div
      class="hidden md:flex-grow md:basis-0 justify-end whitespace-nowrap md:flex md:text-base"
    >
      <Button
        class="md:text-sm lg:text-base md:py-2"
        url="https://www.youtube.com/watch?v=O43x26hiolw"
      >
        {i18n.HEADER_BUTTON}
      </Button>
    </div>
  </div>

  <!-- Menú de navegación móvil para pantallas pequeñas -->
  <nav
    id="mobile-menu"
    class="bg-[#151a36]/90 -translate-y-full transition-transform md:hidden w-full flex flex-col items-center text-center text-2xl fixed top-0 left-0 right-0 h-dvh place-content-center"
  >
    <a class="my-4 text__glowing" href="/info">{i18n.HEADER_1}</a>
    <a class="my-4 text__glowing" href="/archivo">{i18n.HEADER_2}</a>
    <Button
      class="my-4 whitespace-nowrap text-center lg:hidden lg:text-base"
      url="https://www.youtube.com/watch?v=O43x26hiolw"
    >
      {i18n.HEADER_BUTTON}
    </Button>
    <LanguageSelector />
  </nav>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const menuToggle = document.getElementById("menu-toggle")
    const mobileMenu = document.getElementById("mobile-menu")
    const menuIcon = document.getElementById("menu-icon")

    if (!menuToggle || !mobileMenu || !menuIcon) {
      return
    }

    menuToggle.addEventListener("click", function () {
      mobileMenu.classList.toggle("translate-y-0")
      document.body.classList.toggle("overflow-hidden")
      menuIcon.textContent = menuIcon.textContent === "☰" ? "✕" : "☰"
    })
  })
</script>
