---
const { link, title, image, download } = Astro.props
---

<article class='flex flex-col items-center justify-center'>
  <h3 class='mb-2 text-2xl'>{title}</h3>
  <a
    class='text__glowing group relative m-auto mt-2 flex flex-col items-center justify-center gap-y-4 text-center uppercase transition-all'
    href={link}
  >
    <img
      src={image}
      class='aspect-video h-auto w-full rounded-lg transition group-hover:scale-105'
      loading='lazy'
    />
    <img
      src={image}
      class='absolute inset-0 -z-10 aspect-video h-auto w-full scale-125 rounded opacity-0 blur-xl brightness-200 transition group-hover:opacity-40'
      loading='lazy'
    />
    <span
      class='inline-flex w-fit rounded-full border-2 border-solid border-white px-12 py-2'
      >{download}</span
    >
  </a>
</article>
