---
import { getI18N } from "@/i18n"
import InfoKitPrensaItem from "@/components/InfoKitPrensaItem.astro"
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<section class="flex flex-col items-center justify-center p-4 overflow-hidden">
  <h2 class="text-6xl font-bold mb-14 mt-4">{i18n.MEDIA_KIT_TITLE}</h2>
  <div class="flex flex-col gap-16 lg:flex-row lg:gap-8">
    <InfoKitPrensaItem
      title={i18n.MEDIA_KIT_SUBTITLE_1}
      download={i18n.DOWNLOAD_BUTTON}
      image="/info-page/logo-y-trofeo.webp"
      link="https://premiosesland.com/ESLAND_MEDIA_KIT_2022.rar"
    />
    <InfoKitPrensaItem
      title={i18n.MEDIA_KIT_SUBTITLE_2}
      download={i18n.DOWNLOAD_BUTTON}
      image="/info-page/fondos-de-pantalla.webp"
      link="https://premiosesland.com/ESLAND_FONDOS.zip"
    />
    <InfoKitPrensaItem
      title={i18n.MEDIA_KIT_SUBTITLE_3}
      download={i18n.DOWNLOAD_BUTTON}
      image="/info-page/nota-de-prensa.webp"
      link="https://premiosesland.com/Nota%20Prensa-ESLAND.pdf"
    />
  </div>
</section>
