---
import Logo from "@/components/Logo.astro"

import { getI18N } from "@/i18n/index"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<section
  class="relative z-10 mx-auto my-24 max-w-[70ch] text-pretty px-6 text-left text-xl sm:px-20"
>
  <Logo class="m-auto mb-10 h-auto w-16 text-white" />
  <h1
    class="mx-auto mb-10 text-wrap text-center text-4xl font-semibold tracking-wide"
  >
    {i18n.INTRO_TITLE}<br />{i18n.INTRO_TITLE_AFTER_BR}
  </h1>
  <p set:html={i18n.INTRO_DESCRIPTION_1} />
  <p set:html={i18n.INTRO_DESCRIPTION_2} />
  <p set:html={i18n.INTRO_DESCRIPTION_3} />
</section>
