---
import SpainFlag from "@/components/flags/Spain.astro"
import AndorraFlag from "@/components/flags/Andorra.astro"
import ChevronIcon from "@/components/icons/Chevron.astro"

const { currentLocale = "es", url } = Astro

const pathname = url.pathname

let restUrl

if (pathname.startsWith("/ca")) {
  const segments = pathname.split("/").slice(2)
  restUrl = "/" + segments.join("/").replace(/\/+$/, "")
} else {
  restUrl = pathname.replace(/\/+$/, "")
}

const LOCALES: Record<
  string,
  { code: string; name: string; href: string; flag: typeof SpainFlag }
> = {
  ca: {
    code: "ca",
    href: `/ca${restUrl}`,
    name: "Català",
    flag: AndorraFlag,
  },
  es: {
    code: "es",
    href: restUrl,
    name: "Español",
    flag: SpainFlag,
  },
}

const currentLocaleData = LOCALES[currentLocale]
const otherLocales = Object.values(LOCALES).filter(
  (locale) => locale.code !== currentLocale
)
const currentPath = url.pathname.replace(currentLocaleData.href, "")
---

<div class="relative inline-block text-left">
  <div
    class="group text-white rounded-md text-xs font-semibold bg-black/30 hover:bg-black/70 transition-all"
  >
    <button
      type="button"
      class="inline-flex justify-start items-center w-full gap-x-2 px-3 py-2"
      aria-expanded="true"
      aria-haspopup="true"
    >
      <currentLocaleData.flag />
      {currentLocaleData.name}
      <ChevronIcon />
    </button>
    <ul
      class="group-hover:block group-hover:animate-fade-down group-hover:animate-duration-200 hidden pt-0.5 absolute w-full"
    >
      {
        otherLocales.map((locale) => (
          <li class="">
            <a
              class="rounded-md bg-black/30 hover:bg-black/70 whitespace-no-wrap inline-flex justify-start items-center w-full gap-x-2 px-3 py-2"
              href={`${locale.href}${currentPath}`}
            >
              <locale.flag />
              {locale.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
