---
import { needPrefix } from "@/i18n"
import { getPathByLocale } from "astro:i18n"
import Link from "@/components/Link.astro"
import Svg from "@/components/Svg.astro"

const { currentLocale = "es", url } = Astro

const { pathname } = url

const path = needPrefix(currentLocale) ? pathname.substring(getPathByLocale(currentLocale).length + 2) : pathname;

const LOCALES: Record<
  string,
  { code: string; name: string; }
> = {
  ca: {
    code: "ca",
    name: "Català",
  },
  en: {
    code: "en",
    name: "English",
  },
  es: {
    code: "es",
    name: "Español",
  },
}

const currentLocaleData = LOCALES[currentLocale]
const otherLocales = Object.values(LOCALES).filter(
  (locale) => locale.code !== currentLocale
)
---

<div class="relative inline-block text-left">
  <div
    class="group text-white rounded-md text-xs font-semibold bg-black/30 hover:bg-black/70 transition-all"
  >
    <button
      type="button"
      class="inline-flex justify-start items-center w-full gap-x-2 px-3 py-2"
      aria-expanded="true"
      aria-haspopup="true"
    >
      <Svg src={`flag-${currentLocaleData.code}`} class="w-4 h-auto" />
      {currentLocaleData.name}
      <Svg src="chevron" class="-mr-1 h-5 w-5 text-white" />
    </button>
    <ul
      class="group-hover:block group-hover:animate-fade-down group-hover:animate-duration-200 hidden pt-0.5 absolute w-full"
    >
      {
        otherLocales.map((locale) => (
          <li class="py-0.5">
            <Link
              class="rounded-md bg-black/30 hover:bg-black/70 whitespace-no-wrap inline-flex justify-start items-center w-full gap-x-2 px-3 py-2"
              href={path}
              locale={locale.code}
            >
              <Svg src={`flag-${locale.code}`} class="w-4 h-auto" />
              {locale.name}
            </Link>
          </li>
        ))
      }
    </ul>
  </div>
</div>
