---
import StreamerCard from '@/components/StreamerCard.astro'
import palmares from '@/data/editions-info.json'

interface Props {
  edicion: string
}

const { edicion } = Astro.props
let index = 3

let datosSeleccionados = palmares.find((palmar) => palmar.edition === edicion)

if (!datosSeleccionados) {
  return
}

const {
  comunidad1,
  comunidad2,
  finalista,
  foto1,
  foto2,
  ganador,
  streamers1,
  streamers2,
  total1,
  total2
} = datosSeleccionados?.info[index]
---

<section
  class='mx-auto flex max-w-6xl flex-col items-center justify-center gap-4 px-20 pt-20'
>
  <h2
    class='mb-10 text-center font-tomaso text-4xl uppercase lg:mb-20 lg:text-6xl'
  >
    Palmarés
  </h2>
  <div class='flex flex-col gap-10 lg:flex-row'>
    <div class='flex flex-col gap-2'>
      {
        palmares.map((item) => {
          if (item.edition === edicion) {
            return item.info.map((infoItem, i) => {
              const { categoria, ganador } = infoItem
              return (
                <button
                  id={`${i + 1}`}
                  class={`flex items-center justify-between rounded-sm  ${
                    i % 2 === 0
                      ? 'bg-gradient-to-r from-blue-600 to-sky-400/45  '
                      : 'bg-gradient-to-r from-gray-700 to-blue-900'
                  } ${
                    index === i
                      ? 'border-spacing-6 border border-sky-300 bg-blue-950'
                      : ''
                  } px-4 py-1 text-center hover:bg-blue-900`}
                >
                  <h1 class='text-left text-sm'>{categoria}</h1>
                  <strong class='text-right text-xs'>{ganador}</strong>
                </button>
              )
            })
          }
        })
      }
    </div>
    <div class='mr-5 flex items-end gap-3'>
      {
        ganador && (
          <StreamerCard
            position='1º'
            edicion={edicion}
            name={ganador}
            comunidad={comunidad1}
            streamers={streamers1}
            foto={foto1}
            total={total1}
            background={'bg-finalista'}
          />
        )
      }
      {
        finalista && (
          <StreamerCard
            position='2º'
            edicion={edicion}
            name={finalista}
            comunidad={comunidad2}
            streamers={streamers2}
            foto={foto2}
            total={total2}
            background={'bg-semifinalista'}
          />
        )
      }
    </div>
  </div>
</section>

<style>
  button:hover {
    box-shadow: 0 0 10px 5px rgb(62, 159, 255);
  }
</style>

<script></script>
