---
const {
  name,
  foto,
  edicion,
  comunidad,
  streamers,
  total,
  position,
  background
} = Astro.props
---

<div
  class={`max-w-full rounded-lg shadow ${background} border-[#0d507a] animate-fade-up`}
>
  <p
    class='absolute mx-11 -mt-[2px] size-11 rounded-b-lg rounded-t-sm bg-white py-2 text-center font-tomaso font-bold text-black shadow-md'
  >
    {position}
  </p>
  <img
    class='rounded-t-lg object-cover'
    src={`/archivo-page/${edicion}/palmares/desktop/${foto}.webp`}
    alt={name}
    title={name}
  />
  <div class='p-5'>
    <p
      class='mb-2 text-balance text-xl font-bold uppercase tracking-tight dark:text-white'
    >
      {name}
    </p>
    <p
      class='mb-3 mt-5 flex flex-col font-normal uppercase text-gray-700 dark:text-gray-400'
    >
      <strong>Comunidad: {comunidad}</strong>
      <strong>Streamers: {streamers}</strong>
      <strong>Total: {total}</strong>
    </p>
  </div>
</div>
